<?xml version="1.0"?>
<launchConfiguration type="org.eclipse.cdt.launch.localCLaunch">
  <listAttribute key="org.eclipse.cdt.debug.mi.core.SOLIB_PATH"/>
  <stringAttribute key="org.eclipse.cdt.launch.DEBUGGER_START_MODE" value="run"/>
  <booleanAttribute key="org.eclipse.debug.core.appendEnvironmentVariables" value="true"/>
  <stringAttribute key="org.eclipse.cdt.launch.DEBUGGER_ID" value="org.eclipse.cdt.debug.mi.core.CDebuggerNew"/>
  <stringAttribute key="org.eclipse.cdt.launch.PROGRAM_NAME" value="Debug/first"/>
  <booleanAttribute key="org.eclipse.cdt.launch.use_terminal" value="true"/>
  <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
    <listEntry value="/first"/>
  </listAttribute>
  <stringAttribute key="org.eclipse.cdt.debug.mi.core.GDB_INIT" value=".gdbinit"/>
  <stringAttribute key="org.eclipse.cdt.launch.PROJECT_ATTR" value="first"/>
  <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
    <listEntry value="4"/>
  </listAttribute>
  <booleanAttribute key="org.eclipse.cdt.launch.ENABLE_VARIABLE_BOOKKEEPING" value="false"/>
  <booleanAttribute key="org.eclipse.cdt.debug.mi.core.verboseMode" value="false"/>
  <stringAttribute key="org.eclipse.cdt.debug.mi.core.DEBUG_NAME" value="gdb"/>
  <booleanAttribute key="org.eclipse.cdt.launch.DEBUGGER_STOP_AT_MAIN" value="true"/>
  <booleanAttribute key="org.eclipse.cdt.debug.mi.core.STOP_ON_SOLIB_EVENTS" value="false"/>
  <stringAttribute key="org.eclipse.cdt.debug.mi.core.commandFactory" value="org.eclipse.cdt.debug.mi.core.standardCommandFactory"/>
  <stringAttribute key="org.eclipse.cdt.launch.DEBUGGER_STOP_AT_MAIN_SYMBOL" value="main"/>
  <stringAttribute key="org.eclipse.cdt.debug.mi.core.protocol" value="mi"/>
  <booleanAttribute key="org.eclipse.cdt.launch.ENABLE_REGISTER_BOOKKEEPING" value="false"/>
  <booleanAttribute key="org.eclipse.cdt.debug.mi.core.AUTO_SOLIB" value="true"/>
  <listAttribute key="org.eclipse.cdt.debug.mi.core.AUTO_SOLIB_LIST"/>
</launchConfiguration>